body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0e0c0c;
    color: white;
    line-height: 1.5;
    overflow-x: hidden;
}

.topbar {
    background-color: #000000;
    padding: 15px 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0);
}

.topbar .nav-links {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
}

.topbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.topbar .nav-links a:hover {
    color: #E74C3C;
}

.topbar .contact-button {
    background-color: #E5E4E2;
    color: #161313;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-right: 80px;
}

.topbar .contact-button:hover {
    background-color: #E74C3C;
    color: white;
}

.back {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    margin-left: 90px;
    transition: transform 0.5s ease-in-out;
}

.litters {
    flex: 1 1 50%;
    padding-right: 20px;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out, top 0.5s ease-in-out;
}

.litters h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.litters h1 .highlight {
    color: #E74C3C;
}

.litters h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #E5E4E2;
}

.litters p {
    font-size: 1.125em;
    margin: 10px 0;
}

.litters p i {
    margin-right: 10px;
    color: #E74C3C;
}

.profile-image {
    flex: 1 1 30%;
    background-image: url('https://res.cloudinary.com/doka2wyj0/image/upload/v1724627227/pogi/oghckezv2h9wjdwnzeul.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    filter: brightness(1.1) contrast(1.2);
}

.resume {
    text-align: left;
    margin-top: 20px;
}

.resume-button {
    background-color: white;
    color: #000000;
    padding: 15px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

.resume-button:hover {
    background-color: #E74C3C;
    color: white;
}

.about {
    position: fixed;
    top: 100%;
    left: 50px;
    right: 50px;
    bottom: 0;
    background-color: #000000;
    color: white;
    padding: 20px;
    transition: transform 0.5s ease-in-out, top 0.5s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
    overflow-y: auto;
    display: none;
}

.about.active {
    display: block;
    top: 90px;
}

.about header h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.about .about-content {
    display: flex;
    align-items: flex-start;
}

.about .image-placeholder {
    width: 23%;
    height: 600px;
    background-image: url('https://res.cloudinary.com/doka2wyj0/image/upload/v1725241980/ja/gou8ipvejufcjdqij9gb.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 30px;
}

.about .description {
    width: 70%;
}

.about .description h1 {
    color: #e74c3c;
    font-size: 24px;
    margin-bottom: 10px;
}

.about .description p {
    font-size: 16px;
    margin-bottom: 20px;
}

.about .contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.about .contact-info .left,
.about .contact-info .right {
    width: 48%;
}

.about .contact-info p {
    margin-bottom: 10px;
}

.about .contact-info p strong::before {
    content: '>';
    color: #E74C3C;
    margin-right: 5px;
}

.about .bio {
    font-size: 14px;
    line-height: 1.6;
}

.about .bio p {
    margin: 10px 0;
}

.about .interest-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.about .interest-item {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.about .interest-item img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 10px;
}

.about .interest-item p {
    color: #fff;
    font-size: 14px;
}

.about .skills {
    margin-top: 40px;
}

.about .skills h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.about .skill-items {
    display: flex;
    justify-content: space-between;
}

.about .skill-column {
    width: 45%;
}

.about .skill-column p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

.about .skill-column p strong::before {
    content: '>';
    color: #E74C3C;
    margin-right: 5px;
}

.education,
.projects,
.contact {
    position: fixed;
    top: 100%;
    left: 50px;
    right: 50px;
    bottom: 0;
    background-color: #000000;
    color: white;
    padding: 20px;
    transition: transform 0.5s ease-in-out, top 0.5s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
    overflow-y: auto;
    display: none;
}

.education.active,
.projects.active,
.contact.active {
    display: block;
    top: 90px;
}

header h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.education-content,
.projects-content,
.contact-content {
    margin-top: 20px;
}

.education-item,
.project-item {
    margin-bottom: 20px;
}

.education-item h3,
.project-item h3 {
    color: #e74c3c;
    font-size: 20px;
    margin-bottom: 10px;
}

.education-item p,
.project-item p {
    font-size: 16px;
    margin-bottom: 10px;
}

.about::-webkit-scrollbar,
.education::-webkit-scrollbar,
.projects::-webkit-scrollbar,
.contact::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
}

.about::-webkit-scrollbar-track,
.education::-webkit-scrollbar-track,
.projects::-webkit-scrollbar-track,
.contact::-webkit-scrollbar-track {
    background: #000; /* Track color */
}

.about::-webkit-scrollbar-thumb,
.education::-webkit-scrollbar-thumb,
.projects::-webkit-scrollbar-thumb,
.contact::-webkit-scrollbar-thumb {
    background: #000; /* Scrollbar color */
    border-radius: 10px; /* Round the corners of the scrollbar */
}

.about::-webkit-scrollbar-thumb:hover,
.education::-webkit-scrollbar-thumb:hover,
.projects::-webkit-scrollbar-thumb:hover,
.contact::-webkit-scrollbar-thumb:hover {
    background: #000; /* Color when hovering over the scrollbar */
}

@media (max-width: 1024px) {
    .about .about-content,
    .education .education-content,
    .projects .projects-content,
    .contact .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .about .image-placeholder,
    .education .image-placeholder,
    .projects .image-placeholder,
    .contact .image-placeholder {
        width: 100%;
        height: auto;
        margin-right: 0;
    }

    .about .description,
    .education .description,
    .projects .description,
    .contact .description {
        width: 100%;
    }

    .about .contact-info,
    .education .contact-info,
    .projects .contact-info,
    .contact .contact-info {
        flex-direction: column;
        align-items: center;
    }

    .about .contact-info .left,
    .education .contact-info .left,
    .projects .contact-info .left,
    .contact .contact-info .left,
    .about .contact-info .right,
    .education .contact-info .right,
    .projects .contact-info .right,
    .contact .contact-info .right {
        width: 100%;
        text-align: center;
    }

    .about .bio,
    .education .bio,
    .projects .bio,
    .contact .bio {
        font-size: 14px;
        line-height: 1.5;
    }
}

